.btn {
  padding: 0 2rem;
  border-radius: var(--radius);
  height: clamp(3rem, 3vw, 3.25rem); 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  transition: all 0.2s;
}

.outlined {
  border: 0.1875rem solid var(--Body, #1a1a1a); 
  color: #1a1a1a;
  background-color: transparent;
}

.outlined:hover {
  border-color: black;
  color: black;
  background-color: var(--outline-hover);
}

.outlined:active {
  border-color: black;
  color: black;
  background-color: var(--outline-press);
}

.filled {
  border: 0;
  background-color: var(--garage-blue);
  color: var(--white);
}

.filled:hover {
  background-color: #1d4ed8;
}

.filled:active {
  background-color: var(--garage-blue-press);
  transform: scale(0.98);
}

.outlined.disabled {
  border: 0.25rem solid var(--Disabled, #d9d9d9); 
  color: var(--onDisabled, #737373);
}

.outlined.disabled:hover,
.outlined.disabled:active {
  background-color: transparent;
}

.filled.disabled {
  background-color: var(--Disabled, #d9d9d9);
  color: var(--onDisabled, #737373);
}

.filled.disabled:hover,
.filled.disabled:active {
  background-color: var(--Disabled, #d9d9d9);
}

.disabled {
  cursor: default;
}

.start-icon-wrapper {
  margin-right: 0.5rem; 
}

.end-icon-wrapper {
  margin-left: 0.5rem; 
}
