.content {
  height: calc(100vh - var(--top-padding));
  min-height: 760px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: var(--content-gap-mobile);
}

.heading-space {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .content {
    height: auto;
    min-height: unset;
  }
}

@media (max-width: 640px) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .heading-space {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
