.wrapper {
  padding-top: var(--top-padding);
  padding-bottom:0.5rem);
  min-height: 100svh;
}

@media (max-width: 75rem) {
  .wrapper {
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 40rem) {
  .wrapper {
    padding-top: var(--top-padding-mobile);
    padding-bottom: 0.5rem;
  }
}
