.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 8;
  transition: background-color 0.4s, filter 0.4s;
  background-color: var(--background);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-gap-mobile);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.logo {
  height: 2.25rem;
}

a {
  color: var(--body);
}

.nav {
  display: flex;
  gap: var(--content-gap-mobile);
}

.navlink-container {
  color: var(--body);
  position: relative;
  display: block;
}

.navlink {
  color: var(--body);
  position: relative;
  display: block;
}

.navlink:hover {
  color: var(--body);
}

.navlink::after {
  position: absolute;
  content: "";
  display: block;
  transition: width 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  height: 0.125rem;
  background-color: var(--body);
  width: 0%;
}

.navlink:hover::after {
  width: 100%;
}

.button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  width: 2.25rem;
  height: 2.25rem;
}

.drawer {
  width: 100%;
  overflow: hidden;
}

.drawer-inner {
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.shadow {
  background-color: var(--white);
  filter: drop-shadow(0 0.25rem 0.1875rem rgb(0 0 0 / 0.07))
    drop-shadow(0 0.125rem 0.125rem rgb(0 0 0 / 0.06));
}

.separator {
  height: 0.0625rem;
  background-color: var(--outline);
  width: 0;
  animation: grow 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s both;
}

.tablet-link {
  animation: slide-in 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  animation-fill-mode: both;
}

.login-menu, .tablet-login-menu {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.login-menu {
  position: absolute;
  gap: 0.5rem;
  padding: 0.625rem 0.625rem 0.625rem 0.75rem;
  align-items: flex-end;
  right: 0;
  left: auto;
}

.tablet-login-menu {
  position: relative;
  gap: 0.05rem;
  margin-top: 1rem;
}

.nav,
.navlink,
.navlink-container,
.drawer-inner,
.tablet-link,
.login-menu,
.tablet-login-menu {
  font-family: "Inter", sans-serif;
}


@keyframes grow {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(3.125rem);
  }

  to {
    transform: translateX(0px);
  }
}