.center {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.margin {
  margin-top: 2rem;
}

@media (max-width: 640px) {
  .center {
    padding: 1rem;
  }

  .margin {
    margin-top: 1rem;
  }
}
