.heading-space {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: clamp(0.75rem, 2.5vw, 1.5rem);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(0.75rem, 3.5vw, 1.25rem);
}
