.gutter {
    padding-left: var(--gutter, clamp(1rem, 4vw, 3rem));
    padding-right: var(--gutter, clamp(1rem, 4vw, 3rem));
}

.container {
    max-width: var(--max-width, min(90vw, 1400px));
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1600px) {
    .gutter {
        padding-left: clamp(3rem, 8vw, 6rem);
        padding-right: clamp(3rem, 8vw, 6rem);
    }
}


