.facility-card {
  display: flex;
  gap: var(--content-gap-mobile);
  align-items: center;
  width: 100%;
}

.facility-image {
  flex: 7 0;
  height: 31.25rem; 
  position: relative;
  display: inline-block;
}

.facility-image img { 
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.625rem 1.25rem; 
  font-size: 1.25rem; 
  text-align: center;
}

.facility-description {
  flex: 5 0;
  display: flex;
  flex-direction: column;
  gap: var(--para-gap-desktop);
}
.odd {
  order: -1;
}
.button-container {
  display: flex;
  justify-content: center;
}
.mobile {
  display: none;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}
.link {
  color: var(--garage-blue);
}
.link:hover {
  color: var(--garage-blue-hover);
}


@media (max-width: 75rem) { 
  .facility-description {
    gap: var(--para-gap-tablet);
  }
  .facility-image {
    flex: unset;
    width: clamp(16rem, 40%, 25rem); 
    height: auto;
  }
  .square {
    aspect-ratio: 1;
  }
}

@media (max-width: 40rem) { 
  .odd {
    order: unset;
  }
  .facility-card {
    flex-direction: column;
    gap: 1.5rem; 
    align-items: flex-start;
  }
  .facility-description {
    gap: var(--para-gap-mobile);
    line-height: 1.4;
  }
  .facility-image {
    width: 100%;
    height: initial;
  }
  .mobile {
    display: unset;
  }
  .mobile-hide {
    display: none;
  }
}
