.content {
  height: calc(100vh - var(--top-padding));
  min-height: 47.5rem; 
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 1.5rem;
  gap: var(--content-gap-mobile);
}

.heading-space {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  align-items: center;
  width: 100%; 
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
  align-self: stretch;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, .5); 
  padding: var(--gutter);
  background: #fff;
  border-radius: 0.5rem; 
  color: #333;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem; 
  align-self: stretch;
}

.form-input {
  display: flex;
  padding: 1rem; 
  align-items: center;
  gap: 0.625rem; 
  align-self: stretch;
  border-radius: 0.75rem; 
  border: 0.125rem solid var(--outline); 
  background: var(--white, #FFF);
}

.form-input-invalid {
  display: flex;
  padding: 1rem; 
  align-items: center;
  gap: 0.625rem; 
  align-self: stretch;
  border-radius: 0.75rem; 
  border: 0.125rem solid var(--error); 
  background: var(--white, #FFF);
}

.login-btn {
  min-width: 9.375rem; 
}

.error-message {
  color: var(--error);
}

.hidden {
  display:none;
}

@media (max-width: 75rem) { 
  .content {
    height: auto;
    min-height: unset;
  }
}
